//Header
#header{
    .bg-light {
        background-color: black !important;
    }
    .navbar-expand-lg {
        position: fixed;
        width: 100%;
        z-index: 1;
        .navbar-brand {
            color: orange;
            cursor: default;
        }
        .navbar-collapse {
            justify-content: end;
            .navbar-nav {
                a {
                    border-right: solid 1px white;
                    color: white;
                    &:hover {
                        color: turquoise;
                    }
                    &:active {
                        color: purple;
                    }
                }
            }
        }
    }
}

//Section 1
#section1 {
    background-image: url("../Backgrounds/imagenes/imagenes/platter-2009590_1920.jpg");
    height: 40rem;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    #p_title {
        display: inline-block;
        width: 40%;
        color: white;
        font-weight: bold;
        margin-bottom: 4rem;
        z-index: 1;
    }
    #social_media {
        display: flex;
        z-index: 2;
        #fb, #ig, #tw {
            flex-grow: 0.016;
            transition: 0.5s all;
            &:hover {
                transform: translate(0px, 5px);
                i {
                    background: radial-gradient(orange, transparent);
                }
            }
            i {
                font-size: 23px;
                &::before {
                    color: white;
                }
            }
        }

    }
}

//Section 2
#section2 {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        height: 66.8%;
        width: 100%;
        bottom: 28px;
        left: 0;
    }
    article {
        padding: 3%;
        h2 {
            font-weight: bold;
        }
    }
    img {
        width: 100%;
    }
}

//Section 3
#section3 {
    padding: 3%;
    h2 {
        text-align: center;
        font-weight: bold;
        width: 23%;
        margin: auto;
        border-top: solid 1px lightgray;
        padding-top: 2%;
    }
    article {
        display: flex;
        align-items: flex-end;
        padding-top: 2%;
        div {
            padding: 2%;
            display: flex;
            flex-direction: column;
            width: 100%;
            img {
                width: 100%;
                height: 180px;
            }
            h3 {
                text-align: center;
                padding: 4% 0;
                font-weight: bold;
            }
            p {
                height: 96px;
                text-align: justify;
            }
            button.categories_button {
                background-color: #66952E;
                width: 85%;
                border-color: transparent;
                border-radius: 17px;
                color: white;
                margin: auto;
                box-shadow: 1px 4px 5px 0px rgb(0 0 0 / 75%);
                &:hover {
                    color: red;
                }
            }
        }
    }
}

//Section 4
#section4 {
    padding: 3%;
    position: relative;
    background-image: url(../Backgrounds/imagenes/imagenes/restaurant-1284351_1920.jpg);
    &::before {
        content:'';
        position: absolute;
        background-color: rgba(0,0,0,0.6);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    h2{
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .carousel-item.active, .carousel-item {
        section {
        display: flex !important;
        align-items: flex-end;
            article {
                padding: 2%;
                display: flex;
                flex-direction: column;
                img {
                    width: 100%;
                    height: 165px;
                }
                h3 {
                    text-align: center;
                    padding: 4% 0;
                    font-weight: bold;
                    color: white;
                    height: 75px;
                    margin-bottom: 2%;
                }
                p.text {
                    color: white;
                    text-align: justify;
                    height: 75px;
                    width: 249px;
                    text-overflow: ellipsis;
                    white-space: break-spaces;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                p.price {
                    color: #66952E;
                }
                button.favorite_button {
                    background-color: white;
                    width: 85%;
                    border-color: transparent;
                    border-radius: 17px;
                    color: black;
                    margin: auto;
                    box-shadow: 1px 4px 5px 0px rgb(89 203 53 / 75%);
                    &:hover {
                        background: beige;
                    }
                }
            }
        }
    }

   .carousel-control-prev-icon {
        position: absolute;
        left: -10px;
    }
    .carousel-control-next-icon {
        position: absolute;
        right: -9px;
    }

}

//Footer
#footer {
    display: flex;
    justify-content: space-around;
    padding: 6% 0%;
    div {
        padding: 0 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        i {
            margin: auto;
            color: #CB4335;
            font-size: 30px;
        }
        h4 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 6%;
        }
        p {
            color: darkgray;
            margin: 0;
            .link-form {
                cursor: pointer;
                color: crimson;
                font-weight: bold;
            }
        }
    }
}

//Starter page
#body_starter {
    background: linear-gradient(45deg, black, transparent);
}
#Menu-starter {
    h1{
        text-align: center;
        padding: 3%;
    }
    .menu_starter {
        height: 200px;
        background: white;
        display: flex;
        align-items: center;
        box-shadow: 1px 2px 5px 0px rgb(10 214 163 / 25%);
        margin-bottom: 5%;
        border-radius: 5px;
        div.col-md-3 {
            img {
                width: 100%;
                height: 200px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        div.col-md-9 {
            text-align: center;
            h3 {
                font-style: oblique;
            }
            p {
                color: gray;
                padding: 0% 1%;
            }
            p.cost {
                color: orange;
            }
            button {
                background: black;
                color: wheat;
                border-radius: 9px;
                box-shadow: 1px 2px 5px 0px rgb(10 214 163 / 60%);
                &:hover {
                    background: aquamarine;;
                    color: black;
                    box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 60%);
                }
            }
        }
    }
}

//Main course
#body_main_course {
    background: radial-gradient(chocolate, transparent);
}

//Dessert
#body_dessert {
    background: linear-gradient(45deg, lavenderblush, transparent);
}

//Beverages
#body_beverages {
    background: radial-gradient(lightgreen, transparent);
}

//Come back button
#come_back {
    margin: 3%;
}

