<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas restaurante Magic</title>
    <!--Icon tab-->
    <link rel="shortcut icon" href="Backgrounds/wine-glass-solid.svg" />
    <!--File styles -->
    <link rel="stylesheet" href="Sass/Styles.css">
    <!--Files css bootstrap-->
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap.css.map">
    <link rel="stylesheet" href="Bootstrap/bootstrap-grid.css.map">
    <link rel="stylesheet" href="Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="Bootstrap/bootstrap-reboot.rtl.min.css.map">
    <!--Files js bootstrap-->
    <script defer src="Bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="Bootstrap/bootstrap.bundle.js.map"></script>
</head>
<body id="body_beverages">
    <section id="Menu-starter" class="container px-4 text-center">
        <h1>BEBIDAS</h1>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="Backgrounds/imagenes/imagenes/bebida1.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Vino tinto</h3>
                            <p>Una copa de vino tinto de la mejor selección de vinos.</p>
                            <p class="cost">Costo: $12.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="Backgrounds/imagenes/imagenes/Bebida-de-cereza-y-limón.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Bebida de limón y cereza.</h3>
                            <p>Un vaso de 350 ml de limonada cerezada.</p>
                            <p class="cost">Costo: $10.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">    
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="Backgrounds/imagenes/imagenes/shake.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Malteada de fresa, vainilla, chocolate, macadamia</h3>
                            <p>Leche de soja, almendras, deslactosada o entera, con helado de su elección, cubierta de chantilly, toppings y salsa de chocolota, mora o arequipe.</p>
                            <p class="cost">Costo: $11.400</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">    
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="Backgrounds/imagenes/imagenes/drink-1487304_640.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Limonada de la casa</h3>
                            <p>Limonada con hielo, leche condensada y hojas de menta.</p>
                            <p class="cost">Costo: $10.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">    
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="Backgrounds/imagenes/imagenes/coke.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Soda</h3>
                            <p>Coca-cola fría o al clima para acompañar sus platos.</p>
                            <p class="cost">Costo: $5.500</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>    
            </div>
        </div>
    </section>
    <button onclick="location.href='index.html#section3'" id="come_back" type="button" class="btn btn-dark" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Regresar</button>
</body>
</html>