<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario registro restaurante Magic</title>
    <!--Icon tab-->
    <link rel="shortcut icon" href="../Backgrounds/square-check-solid.svg" />
    <!--File styles -->
    <link rel="stylesheet" href="../Sass/Styles.css">
    <!--Files css bootstrap-->
    <link rel="stylesheet" href="../Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap.css.map">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-grid.css.map">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-reboot.rtl.min.css.map">
    <!--Files js bootstrap-->
    <script defer src="../Bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../Bootstrap/bootstrap.bundle.js.map"></script>
</head>
<body id="body_form">
    <h1>FORMULARIO DE REGISTRO</h1>
    <section id="registration_form">
        <div class="container">
            <!--Visualización si ya tiene cuenta-->
            <div th:if="${mensaje != null}" >
                <div th:text="${mensaje}" class="alert alert-warning text-dark" role="alert">
                    Mensaje
                </div>
            </div>
            
            <div class="row" style="justify-content: center;">
                <form class="col-8" method="post" action="/registro">
                    <label for="cedula" class="form-label">Cedula de ciudadanía</label>
                    <input name="cedula" type="number" class="form-control" id="cedula" aria-describedby="emailHelp" required>
                    <label for="nombre" class="form-label">Nombre completo</label>
                    <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="emailHelp" required>
                    <label for="telefono" class="form-label">Celular</label>
                    <input name="telefono" type="number" class="form-control" id="telefono" aria-describedby="emailHelp" required>
                    <label for="correo" class="form-label">Correo electrónico</label>
                    <input name="correo" type="email" class="form-control" id="correo" aria-describedby="emailHelp" required>
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input name="contrasena" type="password" id="contrasena" class="form-control" aria-describedby="passwordHelpBlock" required>
                    <div class="registration_buttons">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href='../#section1'">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>