<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas restaurante Magic</title>
    <!--Icon tab-->
    <link rel="shortcut icon" href="../Backgrounds/clock-solid.svg" />
    <!--File styles -->
    <link rel="stylesheet" href="../Sass/Styles.css">
    <!--Files css bootstrap-->
    <link rel="stylesheet" href="../Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap.css.map">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-grid.css.map">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-reboot.rtl.min.css.map">
    <!--Files js bootstrap-->
    <script defer src="../Bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../Bootstrap/bootstrap.bundle.js.map"></script>
</head>
<body id="orders_body">
    <section id="Orders">
        <h1 th:text="${admin != null ? 'RESERVAS PENDIENTES POR ENTREGAR' : 'MIS RESERVAS'}"></h1>
        <div class="container">
            <div class="row">
                <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col"># Reserva</th>
                        <th scope="col">Fecha reserva</th>
                        <th scope="col">Hora reserva</th>
                        <th scope="col">Entradas</th>
                        <th scope="col">Platos fuertes</th>
                        <th scope="col">Postres</th>
                        <th scope="col">Bebidas</th>
                        <th scope="col">Estado</th>
                        <th scope="col" th:if="${admin != null}">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="pedido: ${pedidos}">
                        <th scope="row" th:text="${pedido.id}"></th>
                        <td th:text="${pedido.fecha_reserva}"></td>
                        <td th:text="${pedido.hora_reserva}"></td>
                        <td th:text="${pedido.entradas}"></td>
                        <td th:text="${pedido.platosFuertes}"></td>
                        <td th:text="${pedido.postres}"></td>
                        <td th:text="${pedido.bebidas}"></td>
                        <td th:text="${pedido.estadoPedido}"></td>
                        <td th:if="${admin != null}"><a th:href="@{/entregar_pedido/{id}(id=${pedido.id})}">Entregar Pedido</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
      <button id="Close_order" type="button" class="btn btn-info" onclick="location.href='/#section1'">Cerrar</button>
   </body>
</html>

