<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platos fuertes restaurante Magic</title>
    <!--Icon tab-->
    <link rel="shortcut icon" href="../Backgrounds/bowl-rice-solid.svg" />
    <!--File styles -->
    <link rel="stylesheet" href="../Sass/Styles.css">
    <!--Files css bootstrap-->
    <link rel="stylesheet" href="../Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap.css.map">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-grid.css.map">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-reboot.rtl.min.css.map">
    <!--Files js bootstrap-->
    <script defer src="../Bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="../Bootstrap/bootstrap.bundle.js.map"></script>
</head>
<body id="body_main_course">
    <section id="Menu-starter">
        <h1>PLATOS FUERTES</h1>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/plato1.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Salmón a las finas hierbas</h3>
                            <p>250gr de salmón asado a la parrilla, con cebolla, pimentón y finas hiervas, bañado en la salsa de la casa.</p>
                            <p class="cost">Costo: $45.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/Camaronesapanados.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Camarón apanado</h3>
                            <p>8 Camarones, harina de trigo, huevo, orégano, albahaca y salsa de soya.</p>
                            <p class="cost">Costo: $25.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">    
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/asparagus-2169305_1920.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Filete de ternera</h3>
                            <p>250 gr de filete jugoso de ternera a la parrilla, con una costra de pimienta y reducción en vino blanco. Acompañado con ensalada de esparragos y tomate cherry, en vinagreta, y papa horneada con salsa dip, ligeramente picante.</p>
                            <p class="cost">Costo: $38.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/bbq-ribs.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Costilla de cerdo en salsa bbq.</h3>
                            <p>300 gr de deliciosa costilla de cerdo asada, acompañada de papas a las francesa ensalada de vegetales y porción de arroz adicional.</p>
                            <p class="cost">Costo: $35.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/pf2.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Pechuga al ajillo</h3>
                            <p>350g de trucha a  la plancha con ajo perejil aceite de oliva sal y pimienta. Acompañado de vegetales con arverjas y zanahoria.</p>
                            <p class="cost">Costo: $26.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/pizza-329523_1920.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Pizza de la casa</h3>
                            <p>1 pizza mediana (6 porciones) con trocitos de tocineta, mezclados con pollo, peperoni y rúgula.</p>
                            <p class="cost">Costo: $29.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
                <div class="col-12">
                    <article class="menu_starter">
                        <div class="col-md-3">
                            <img src="../Backgrounds/imagenes/imagenes/pasta-1854245_1920.jpg"/>
                        </div>
                        <div class="col-md-9">
                            <h3>Pasta al pesto</h3>
                            <p>150g de deliciosos spaguettis o fetuccinis en salsa pesto, con trozos de pechuga de pollo asados al ajillo. Acompañados de ensalada de lechuga, tomate cherry, cebolla y aguacate, en vinagreta.</p>
                            <p class="cost">Costo: $27.000</p>
                            <button>Añadir al carrito</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <button onclick="location.href='../index.html#section3'" id="come_back" type="button" class="btn btn-dark" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Regresar</button>
</body>
</html>